<!--Introduction-->
<section id="about" class="introduction scrollto">

  <div class="row clearfix">

      <div class="col-3">
          <div class="section-heading">
              <h3>QUEM SOMOS</h3>
              <h2 class="section-title">Quem é a 44 Soluçoes Financeiras?</h2>
              <p class="section-subtitle">A 44 Soluçoes Financeiras é uma facilitadora de crédito imobiliário que tem como premissa a rentabilidade e a organização financeira dos nossos clientes.</p> 
              <p class="section-subtitle"> Com isso minimizamos os riscos de distrato e inadimplência na relação cliente x incorporadora.</p>
              <p class="section-subtitle"> Nosso produto é uma plataforma de  conexão entre devedores e investidores com capital totalmente externo e coletivo. </p>
              <p class="section-subtitle"> Temos como diferencial a facilitação de crédito totalmente on-line, diminuindo a burocracia.</p>
                
          </div>

      </div>

      <div class="col-2-3">
            <a href="../assets/images/gallery-images/gallery-image-7.PNG" data-featherlight="image" class="col-3-2 wow fadeIn"
            data-wow-delay="0.1s"><img src="../assets/images/gallery-images/gallery-image-7.PNG" alt="Landing Page"/></a>
            
      </div>

  </div>


</section>
<!--End of Introduction-->
