<!--controle classico Tables-->
<section id="pricing" class="secondary-color text-center scrollto clearfix ">
  <div class="row clearfix">

    <div class="section-heading">
      <h3>Oferte Um Empréstimo ao Locador desse Imóvel</h3>
      <h2 class="section-title">Oferte Um Empréstimo ao Locador desse Imóvel</h2>
    </div>



    <!--Função Mockada Coordenada Random Block-->
    <div class="pricing-block col-1 wow fadeInUp" data-wow-delay="0.4s">
      <div class="pricing-block-content">
        <h3>Leia os dados da oferta, e faça uma propsta de empréstimo para esse Imóvel</h3>
        <p class="pricing-sub">E viva de juros compostos</p>
        <div class="pricing">
          <div class="price">                        
          </div>
          <p>
            Valor do Imóvel: R$ 750.000,00
          </p>
          <p>
            Valor Financiado: R$ 250.000,00
          </p>
          <p>
            Endereço: Rio de Janeiro, Tijuca, Rua Garibaldi
          </p>
          <p>
            Remuneração Máxima: 7%
          </p>
          <p>
            Prazo: 180 meses
          </p>
        </div>

        <ul>
          <li>Valor:
            <input [(ngModel)]="in_str_valor">
          </li>
          
          <li>Remuneração:
            <input [(ngModel)]="in_str_remuneracao">
          </li>          

        </ul>
        <a href="#" class="button">Propor Empréstimo!</a>
      </div>
    </div>
    <!--End Função Mockada Coordenada Random Block-->

  </div>
</section>
<!--End of controle classico Tables-->