<!--controle classico Tables-->
<section id="pricing" class="secondary-color text-center scrollto clearfix ">
  <div class="row clearfix">

    <div class="section-heading">
      <h3>Cadastre um Finaciamento</h3>
      <h2 class="section-title">Cadastre um Finaciamento</h2>
    </div>



    <!--Função Mockada Coordenada Random Block-->
    <div class="pricing-block col-1 wow fadeInUp" data-wow-delay="0.4s">
      <div class="pricing-block-content">
        <h3>Impute abaixo os dados sobre você e o seu imóvel</h3>
        <p class="pricing-sub">E consiga financiamento sem depender de bancos</p>
        
        <ul>
          <li>Nome:
            <input [(ngModel)]="in_str_nome">
          </li>
          
          <li>cpf:
            <input [(ngModel)]="in_str_cpf">
          </li>
          
          <li>idade:
            <input [(ngModel)]="in_str_idade">
          </li>
          <li>Valor do Imóvel:
            <input [(ngModel)]="in_str_val_imovel">
          </li>
          
          <li>Valor Quitado:
            <input [(ngModel)]="in_str_val_quitado">
          </li>
          
          <li>Edereço:
            <input [(ngModel)]="in_str_endereco">
          </li>
          <li>Renda:
            <input [(ngModel)]="in_str_renda">
          </li>
        
        </ul>
        <a href="#" class="button">Cadastrar Fianciamento!</a>
      </div>
    </div>
    <!--End Função Mockada Coordenada Random Block-->

  </div>
</section>
<!--End of controle classico Tables-->